body {
  margin: 0 auto;
  max-width: 50em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
  padding: 1em;
  color: #566b78;
}

p {
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}

.exercise button {
	margin-right: 0.2rem;
  border: 1px #e81c4f solid;
	border-radius: 8px;
  background-color: #fff;
  padding: 0 0.3rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  margin-bottom: 0rem;
}

.exercises, .exercise p, .exercise li, .exercise button, table.grammar, h3 {
  font-size: 1.5rem;
}

blockquote {
  background-color: #eee;
  margin: 0;
}

* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
}

.video-with-transcript {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-for-exercise {
  flex: none;
}

.transcript {
  flex: 1;
  overflow-y: scroll;
}

img, audio::-webkit-media-controls-enclosure {
  max-width: 100%;
}

audio {
  display: block;
  width: 100%;
}

table.grammar {
  border-collapse: collapse;
}

table.grammar td {
  border: 1px solid #999;
  padding: 0.5rem;
}

table.grammar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}